#header

# test
#Description of my record
record(ao, "$(PREFIX):myName") {
        field(SIZV,"1024")
        field(LEN,"1024")
        field(EGU ,"mV")
}

#Description of my 2nd record
record(ao, "$(PREFIX):myName2") {
        field(SIZV,"1024")
        field(LEN,"1024")
        field(EGU,A)
}


record(ao, "$(PREFIX):myName2") {
        field(DESC, "desc of 3rd pv")
        field(SIZV,"1024")
        field(LEN,"1024")
        field(EGU,A)
}

record(ai, "$(PREFIX);name3") {
    field(DESC, "desc 4th")
    field(DTYP, "Soft Channel stream")
    field(SCAN, "1 second ")
    field(INP,  "$(PREFIX):myName2 bli bla blu CPP")
}
